# /etc/guardian/agent.conf

# === Bağlanılacak Sunucu Bilgileri ===
GUARDIAN_SERVER_HOST=https://10.2.60.185
GUARDIAN_SERVER_PORT=5555

# === Bu Ajanın Kimlik Bilgileri ===
# Bu ID, veritabanındaki 'servers' tablosundaki ID ile eşleşmelidir.
GUARDIAN_AGENT_SERVER_ID=2

# === Kimlik Doğrulama ===
GUARDIAN_SECRET_TOKEN=bu-super-gizli-bir-token

# === Sertifika ve Anahtar Yolları (MUTLAK YOLLAR) ===
TLS_CA_FILE=/etc/guardian/certs/ca.crt
AGENT_TLS_CERT_FILE=/etc/guardian/certs/agent.crt
AGENT_TLS_KEY_FILE=/etc/guardian/certs/agent.key
GUARDIAN_AGENT_SSH_KEY_PATH=/etc/guardian/agent_service_key
GUARDIAN_AGENT_TRUSTED_HOST_KEY=/etc/ssh/ssh_host_ed25519_key.pub
